<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>演算</title>
</head>
<body>
<form action="" method="POST">
    <h1>二つの変数による簡単な足し算</h1><h3>Djangアプリ試作用</h3>
  <table>
    {{ form.as_table }}
  </table>
  {% csrf_token %}
  <button type="submit">決定</button>
</form>
{% if ans != "" %}
  <h2>足し算の結果</h2>{{ ans }} </br>
{% endif %}
</body>
</html>
